.container {
  background: #353535;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item {
  margin-bottom: 8px;
  color: white;
  display: block;
}
